In [6]:
import pandas as pd

df = pd.read_csv("iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
with open("grabacion.txt", encoding="utf-8") as f:
    data = f.read()
    
data

'© - Derechos Reservados: La presente obra, y todos sus contenidos, se encuentran protegidos por la normativa nacional e internacional vigente sobre propiedad Intelectual, por lo tanto su utilización parcial o total, reproducción, comunicación pública, transformación, distribución, alquiler, préstamo público e importación, total o parcial, en todo o en parte, en formato impreso o digital y en cualquier formato conocido o por conocer, se encuentran prohibidos, y solo serán lícitos en la medida en que se cuente con la autorización previa y expresa por escrito de la Fundación Universitaria Konrad Lorenz. Así mismo, de acuerdo con la normativa referente al habeas data, la utilización de la imagen de las personas, docentes o estudiantes, sin su previa autorización está expresamente prohibida. En caso de incumplirse con lo mencionado, se procederá de conformidad con los reglamentos de la Institución, sin perjuicio de las demás acciones legales aplicables. '

In [9]:
import json

with open("sistemas_operativos.json") as j:
    data = json.load(j)
    
# data

pd.json_normalize(data)

         Name          Version Install              Owner Kernel
0      Debian                9     apt                SPI    4.9
1      Ubuntu            17.10     apt          Canonical   4.13
2      Fedora               26     dnf            Red Hat   4.13
3      CentOS                7     yum            Red Hat   3.10
4    OpenSUSE             42.3  zypper             Novell    4.4
5  Arch Linux  Rolling Release  pacman                SPI   4.13
6      Gentoo  Rolling Release  emerge  Gentoo Foundation   4.12

In [18]:
import os
from zipfile import ZipFile

folder = "./astrok.zip"
with ZipFile(folder) as z:
    z.extractall()
    
for file in os.walk("./astrok"):
    print(file)
    
for root, folders, files in os.walk("./astrok"):
    print(root, folders, files)
    for f in files:
        print(f)

('./astrok', [], ['Conjucio╠ün.txt', 'La muerte de las estrellas.txt', 'Perseverance.txt'])
./astrok [] ['Conjucio╠ün.txt', 'La muerte de las estrellas.txt', 'Perseverance.txt']
Conjucio╠ün.txt
La muerte de las estrellas.txt
Perseverance.txt

In [36]:
# !pip install python-docx
import docx

doc = docx.Document("Colombia.docx")
parrafos = [p.text for p in doc.paragraphs]

data = []
for i,row in enumerate(doc.tables[0].rows):
    f = [cell.text for cell in row.cells]
    data.append(f)
    
pd.DataFrame(data[1:], columns= data[0])

                            REGION DEPARTAMENTO    MUNICIPIO
0  Región Eje Cafetero - Antioquia    Antioquia     Medellín
1  Región Eje Cafetero - Antioquia    Antioquia    Abejorral
2  Región Eje Cafetero - Antioquia    Antioquia     Abriaquí
3  Región Eje Cafetero - Antioquia    Antioquia   Alejandría
4  Región Eje Cafetero - Antioquia    Antioquia        Amagá
5  Región Eje Cafetero - Antioquia    Antioquia       Amalfi
6  Región Eje Cafetero - Antioquia    Antioquia        Andes
7  Región Eje Cafetero - Antioquia    Antioquia  Angelópolis
8  Región Eje Cafetero - Antioquia    Antioquia    Angostura
9  Región Eje Cafetero - Antioquia    Antioquia        Anorí

In [40]:
data = pd.read_excel("hoja.xlsx")
data.head()

data2 = pd.read_excel("hoja.xlsx", sheet_name=1)
data2.head()

      Hoja 2 Unnamed: 1
0       Días     Número
1      Lunes          1
2     Martes          2
3  Miércoles          3
4     Jueves          4

In [42]:
url = "https://docs.google.com/spreadsheets/d/1O8k9ZBaHSPbw_8IgE-jxmVE8FkMWimr6dZPuKhAT2hM"
url_new = url + "/gviz/tq?tqx=out:csv"

pd.read_csv(url_new)

     Español    English
0      Lunes     Monday
1     Martes    Tuesday
2  Miércoles  Wednesday
3     Jueves   Thursday
4    Viernes     Friday

In [49]:
# !pip install PyMuPDF
import fitz

doc = fitz.open("cien.pdf")
# doc.pageCount
# doc.metadata

page = doc.loadPage(0)
text = page.getText("text")
print(text)

Cien años de soledad
Muchos años después, frente al pelotón de fusilamiento, el coronel Aureliano Buendía había de
recordar aquella tarde remota en que su padre lo llevó a conocer el hielo. Macondo era entonces
una aldea de veinte casas de barro y cañabrava construidas a la orilla de un río de aguas diáfanas
que se precipitaban por un lecho de piedras pulidas, blancas y enormes como huevos
prehistóricos. El mundo era tan reciente, que muchas cosas carecían de nombre, y para
mencionarlas había que señalarías con el dedo. Todos los años, por el mes de marzo, una familia
de gitanos desarrapados plantaba su carpa cerca de la aldea, y con un grande alboroto de pitos y
timbales daban a conocer los nuevos inventos. Primero llevaron el imán. Un gitano corpulento, de
barba montaraz y manos de gorrión, que se presentó con el nombre de Melquiades, hizo una
truculenta demostración pública de lo que él mismo llamaba la octava maravilla de los sabios
alquimistas de Macedonia. Fue de casa en casa arrastrando dos lingotes metálicos, y todo el
mundo se espantó al ver que los calderos, las pailas, las tenazas y los anafes se caían de su sitio, y
las maderas crujían por la desesperación de los clavos y los tornillos tratando de desenclavarse, y
aun los objetos perdidos desde hacía mucho tiempo aparecían por donde más se les había buscado,
y se arrastraban en desbandada turbulenta detrás de los fierros mágicos de Melquíades. «Las
cosas, tienen vida propia -pregonaba el gitano con áspero acento-, todo es cuestión de despertarles
el ánima.» José Arcadio Buendía, cuya desaforada imaginación iba siempre más lejos que el
ingenio de la naturaleza, y aun más allá del milagro y la magia, pensó que era posible servirse de
aquella invención inútil para desentrañar el oro de la tierra. Melquíades, que era un hombre
honrado, le previno: «Para eso no sirve.» Pero José Arcadio Buendía no creía en aquel tiempo en la
honradez de los gitanos, así que cambió su mulo y una partida de chivos por los dos lingotes
imantados. Úrsula Iguarán, su mujer, que contaba con aquellos animales para ensanchar el
desmedrado patrimonio doméstico, no consiguió disuadirlo. «Muy pronto ha de sobrarnos oro
para empedrar la casa», replicó su marido. Durante varios meses se empeñó en demostrar el
acierto de sus conjeturas. Exploró palmo a palmo la región, inclusive el fondo del río, arrastrando
los dos lingotes de hierro y recitando en voz alta el conjuro de Melquíades. Lo único que logró
desenterrar fue una armadura del siglo xv con todas sus partes soldadas por un cascote de óxido,
cuyo interior tenía la resonancia hueca de un enorme calabazo lleno de piedras. Cuando José
Arcadio Buendía y los cuatro hombres de su expedición lograron desarticular la armadura,
encontraron dentro un esqueleto calcificado que llevaba colgado en el cuello un relicario de cobre
con un rizo de mujer.

In [52]:
# !pip install pytesseract
# https://github.com/UB-Mannheim/tesseract/wiki
import pytesseract
from pytesseract import image_to_string
from PIL import Image

pytesseract.pytesseract.tesseract_cmd = "C:\\Program Files\\Tesseract-OCR\\tesseract.exe"  ### WINDOWS
texto = image_to_string(Image.open("demo.jpg"))
print(texto)

function_name = “getGmailemails”
request = {"function": function_name}

response = GetClient().scripts().run(body-request, scriptId-script_id) .execute()
print (response)





{'done’: True, ‘response’: {"@type’: ‘type.googleapis. com/google. apps. script.v1.xecutionResponse’}}